*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #className{
    padding: 20px;
    width: 50%;
    background-color: red;
    text-align: center;
    float: left;
}
.phai{
    padding: 20px;
    width: 50%;
    background-color: blue;
    text-align: center;
    float: right;
} */
