*{
    padding: 0;
    margin: 0 auto;
}
#container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.clear-fix::after{
    clear: both;
    content: '';
    display: block;
}
#menu{
    background: aqua;
}
#logo{
    width: ;
    float: left;
}
#logo img{
    height: 50px;
}
#sileder{
    margin-top: 5px;
    height: 300px;
    background: black;
    text-align: center;
    color: white;
}
#topsale{
    border:1px solid white;
    background: olive;
}
#topsale div div{
    margin: 5px;
    margin-left: 6.5px;
    height: 200px;
    width: 24%;
    float: left;
    background: whitesmoke;
}
#sidebar{
    background: white;
    float: left;
    width: 20%;
}
#sidebar div{
    margin-top: 10px;
    border: 1px solid orangered;
    padding-bottom: 5px;
    text-align: center;
    width: 80%;
}
#sidebar a{
    text-decoration: none;
}
#sidebar a:hover{
    color: yellow;
}
#product{
    width: 80%;
    float: left;
}
#product div{
    margin: 4px;
    float: left;
    width: 24%;
    height: 200px;
    background: slategray;
}
#section{
    margin: 0px 0px 10px 10px;
}
#footer{
    background: thistle;
    text-align: center;
    height: 50px;
}